body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* styles.scss mein aise likhte hain */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
